<div class="container-fluid bg-primary bg-icon mt-5 py-6">
    <div class="container">
        <div class="row g-5 align-items-center">
            {{#if restaurant.restaurantdishlist}}
            <div class="col-md-7 wow fadeIn" data-wow-delay="0.1s">
                <h1 class="display-5 text-white mb-3">{{restaurant.name}} has </h1>
                {{#each restaurant.restaurantdishlist}}
                <h3 class="text-white mb-0">{{this.dishname}} of count {{this.count}}</h3>
                {{/each}}
                {{else}}
                <h3>{{restaurant.name}} has no dishes then.</h3>
                {{/if}}
            </div>
            <div class="col-md-5 text-md-end wow fadeIn" data-wow-delay="0.5s">
                <a class="btn btn-lg btn-secondary rounded-pill py-3 px-5" href="/users/private">View Cart</a>
            </div>
        </div>
    </div>
</div>