<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    
    {{!-- <h3 class= "welcomeTo">You have successfully order 1 from {{restaurant.name}}.</h3> --}}

    {{#if restaurant.restaurantdishlist}}
    <h3 class= "welcomeTo">{{restaurant.name}} has </h3>
     {{#each restaurant.restaurantdishlist}}
        <p>{{this.dishname}} of count {{this.count}}</p>
     {{/each}}
    {{else}}
    <h3>{{restaurant.name}} has no dishes then.</h3>
    {{/if}}
    
    <a href="/users/private" class="home">view your shopping cart</a>
    {{!-- <div class="container">
        <h3>Your order infomation</h3>
        <div class="center padding" id="login">
            <div class="form-group">
                <p class="">restaurant: {{restaurantname}}</p>
            </div>
            <div class="form-group">
                <p class=" ">dish: {{restaurantname}}</p>
            </div>
            <div class="form-group">
                <p>count: 1</p>
            </div>
        </div>
    </div> --}}
</body>
</html>