<main>

    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Restaurant details</h4>
                    </div>
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <span class="font-weight-bold">Name: {{this.name}}</span>
                        <p class="card-text bold-id">Address: {{this.address}} ,{{this.zip}}</p>
                        <p class="card-text bold-id">Rating: {{this.rating}}</p><br>
                        {{!-- <div class="col-md-12">
                            <form action="/upload/profilepic" enctype="multipart/form-data" method="POST">
                                <label for="picture" class="labels">Change profile image</label>
                                <input type="file" name="picture" accept="image/*" class="btn  bottom-padding"
                                    required />
                                <input type="submit" class="btn-private btn btn-primary" value="Upload Photo" />
                            </form>
                        </div> --}}

                    </div>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Restaurant Menu</h4>
                    </div>
                    <p class="card-text bold-id">{{this.foodmenu}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Restaurant Settings</h4>
                    </div>
                    <form id="login" action="/restaurants/{{this.restaurantId}}/delete" method="POST">
                        <div class="dropdown">
                            <div class="dropdown-content">
                                <span class="py-3"><a class="btn btn-primary update"
                                        href="/restaurants/{{this.restaurantId}}/edit">Edit
                                        Restaurant</a></span>
                                <span class="py-3"><a class="btn btn-danger update"
                                        href="/restaurants/{{this.restaurantId}}/delete">Delete Restaurant</a></span>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


    <div class="container" id="review-pan">

        {{!-- <h3 class="text-secondary">Post a response to customer here:</h3>
        <form action="/comments/add/{{this._id}}" method="POST" class="new-comment-form">
            <div class="form-group">
                <input id="comment" type="text" class="form-control" name="commentText"
                    placeholder="Enter a comment....">

            </div>
            <button id="submit" class="btn btn-primary" type="submit">Submit</button>
        </form> --}}

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-md-6 col-12 pb-4">
                        <h1>Comments</h1>

                        {{#each this.getReviews}}
                        <div class="p-2"><img src="" alt="user" width="50" class="rounded-circle">
                        </div>
                        <div class="comment-text w-100">
                            <h6 class="font-medium">{{this.name}}</h6>
                            <span class="m-b-15 d-block">Ratings: {{this.rating}}</span>
                            <span class="m-b-15 d-block">Review: {{this.reviewText}}</span>
                            <div class="comment-footer">
                                <a class="btn btn-primary update"
                                    href="/reviews/reviews/updatereview/{{this._id}}">Edit</a>
                                <a class="btn btn-danger update"
                                    href="/reviews/reviews/deletereview/{{this._id}}">Delete</a>
                            </div>
                        </div>
                        <div class="card-text">
                            <p>Reply from owner:</p>
                            {{#each this.commentTexts}}
                            <ul>
                                <li>
                                    <p>{{this}}</p>
                                </li>

                            </ul>
                            {{/each}}

                            <div class="center">
                                <p class="text-secondary">Post a response to customer here:</p>
                                <form action="/comments/add/{{this._id}}" method="POST" class="new-comment-form">
                                    <div class="form-group">
                                        <input id="comment" type="text" class="form-control" name="commentText"
                                            placeholder="Enter a comment....">

                                    </div>
                                    <button id="submit" class="btn btn-primary" type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                        <h4>Add your review</h4>
                        <form class="center padding" action="/reviews/reviews/{{this.restaurantId}}" method="POST">
                            <div class="form-group">
                                <label for="rating">Ratings: </label>
                                <input id="rating" name="rating" class="rating rating-loading" data-min="0" data-max="5"
                                    data-step="0.1" value="5">
                            </div>
                            <div class="form-group"><label for="message">Yor Review</label>
                                <input type="text" class="form-control" id="reviewText" name="reviewText"
                                    aria-describedby="reviewText" placeholder="Add your review">
                            </div>
                            <div class="form-group">
                                <button type="submit" id="btn-id" class="btn btn-primary">Post your review</button>
                            </div>
                        </form>
                        {{#if errorcode}}
                        <p class="error">{{message}}</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </section>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/public/javascript/rating.js"></script>