<main>

    <div class="card-deck">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body" id="redbox">
                    <h3 class="subnames">Restaurant Details</h3>
                    <div class="subcontent">
                        <p class="card-text bold-id">{{this.name}}</p>
                        <p class="card-text bold-id">{{this.address}} ,{{this.zip}}</p>
                        <p class="card-text bold-id">Menu:</p>
                        <p class="card-text bold-id">{{this.foodmenu}}</p>
                        <p class="card-text bold-id">Rating: {{this.rating}}</p><br>
                    </div>
                    <form id="login" action="/restaurants/{{this.restaurantId}}/delete" method="POST">
                        <div class="dropdown">
                            <div class="dropdown-content">
                                <p><a class="btn btn-primary update" href="/restaurants/{{this.restaurantId}}/edit">Edit
                                        Restaurant</a></p>
                                <p><a class="btn btn-danger update"
                                        href="/restaurants/{{this.restaurantId}}/delete">Delete Restaurant</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card-deck">
        <div class="col-sm-6">
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h3 class="subnames">Reviews</h3>
                    {{#each this.getReviews}}
                    <div class="card car">
                        <div class="never">
                            <p class="card-text">Review from the customer:</p>
                            <p class="card-text">{{this.reviewText}}</p>
                            <p class="card-text">rating: {{this.rating}}</p>
                            <div class="likea">
                                <p><a class="btn btn-primary update"
                                        href="/reviews/reviews/updatereview/{{this._id}}">Edit</a></p>
                                <p><a class="btn btn-danger update"
                                        href="/reviews/reviews/deletereview/{{this._id}}">Delete</a></p>
                            </div>
                        </div>
                        <script src="https://use.fontawesome.com/fe459689b4.js"></script>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                        <script src="/public/javascript/like.js"></script>

                        <div class="card-text">
                            <p>Reply from owner:</p>
                            {{#each this.commentTexts}}
                            <ul>
                                <li>
                                    <p>{{this}}</p>
                                </li>

                            </ul>
                            {{/each}}

                            <div class="center">
                                <p class="subnames">Post a response to customer here:</p>
                                <form action="/comments/add/{{this._id}}" method="POST" class="new-comment-form">
                                    <div class="form-group">
                                        <input id="comment" type="text" class="form-control" name="commentText"
                                            placeholder="Enter a comment....">

                                    </div>
                                    <button id="submit" class="btn btn-primary" type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="review-pan">

        {{!-- <h3 class="subnames">Post a response to customer here:</h3>
        <form action="/comments/add/{{this._id}}" method="POST" class="new-comment-form">
            <div class="form-group">
                <input id="comment" type="text" class="form-control" name="commentText"
                    placeholder="Enter a comment....">

            </div>
            <button id="submit" class="btn btn-primary" type="submit">Submit</button>
        </form> --}}

        <h3 class="subnames">Post your comment to restaurant here: </h3>
        <form class="center padding" action="/reviews/reviews/{{this.restaurantId}}" method="POST">
            <div class="form-group">
                <label for="rating">Rating:</label>
                <input type="text" class="form-control" id="rating" name="rating" aria-describedby="rating"
                    placeholder="Rating">
            </div>
            <div class="form-group">
                <label for="reviewText">ReviewText:</label>
                <input type="text" class="form-control" id="reviewText" name="reviewText" aria-describedby="reviewText"
                    placeholder="reviewText">
            </div>
            <label for="btn-id"></label>
            <button type="submit" id="btn-id" class="btn btn-primary">Submit</button>
        </form>
        {{#if errorcode}}
        <p class="error">{{message}}</p>
        {{/if}}
    </div>

</main>
