{{!-- <main>

    {{#each data}}
    <div class="card-deck">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top">
                <div class="card-body">
                    <h1>List restaurants</h1>
                    <h5 class="card-title"><a href="/restaurants/{{this._id}}">{{this.name}}</a></h5>
                    <p class="card-text">{{this.address}}</p>
                    <p class="card-text">Menu: {{this.menu}}</p>
                    <p class="card-text">Rating: {{this.rating}}</p>

                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{#if data}}
    {{else}}
    <h1 class="not-found">We're sorry, but no results were found {{this.name}}.Please search again</h1>
    {{/if}}

    <a class="btn btn-primary" href="/logout">Logout</a>
</main> --}}

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s"
                    style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Search Results</h1>
                    <p>Here's your search results you wished to have with respective restaurant name or menu.</p>
                </div>
            </div>
        </div>
        <div class="row g-4">
            {{#each data}}
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="product-item">
                    <div class="position-relative bg-light overflow-hidden">
                        <img class="img-fluid w-100" src="{{!-- Add image here --}}" alt="">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 mb-2 text-center" href="/restaurants/{{this._id}}">{{this.name}}</a>
                        <span class="text-primary me-1">Address: {{this.address}}</span>
                        {{!-- <span class="text-body text-decoration-line-through">Address</span> --}}
                        <span class="text-primary me-1">Menu: {{this.foodmenu}}</span><br>
                        <span class="text-primary me-1">Rating: {{this.rating}}</span>
                    </div>
                    <div class="d-flex border-top">
                        <div class="w-50 text-center py-2">
                            <a class="text-body" href="/restaurants/{{this._id}}"><i
                                    class="fa fa-eye text-primary me-2"></i>Visit Restaurant</a>
                        </div>
                        {{!-- <small class="w-50 text-center py-2">
                            <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Rate</a>
                        </small> --}}
                    </div>
                </div>
            </div>
            {{/each}}
            {{#if data}}
            {{else}}
            <h3 class="not-found">We're sorry, but no results were found. Please
                search again!</h3>
            {{/if}}
        </div>
    </div>
</div>